*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.game{
    width: 100%;
    height: 100vh;
    background-color: #192a32;
    display: flex;
    align-items: center;
    justify-content: center;
    &__menu,
    &__playField{
        width: 450px;
        height: 500px;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_title{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            img:nth-child(1){
                width: 30px;
                height: 30px;
            }
            img:nth-child(2){
                width: 33px;
                height: 33px;
            }
        }
        &_blockChoise{
            width: 100%;
            height: auto;
            padding: 10px;
            border-radius: 10px;
            background-color: #1e3640;
            box-shadow: 0px 5px 0px #0f2028;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &_title{
                color: #8aa2ac;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
            }
            &_blockForSelect{
                width: 100%;
                padding: 10px 5px;
                height: auto;
                background-color: #1a2a35;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                gap: 10px;
                &_XActive,
                &_OActive{
                    width: 48%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #a9bec9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &_XInactive,
                &_OInactive{
                    width: 48%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        height: 30px;
                        width: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: none;
                    }
                }
                &_XActive,
                &_XInactive{
                    img{
                        width: 30px;
                        height: 30px;
                    }    
                }
                &_OActive,
                &_OInactive{
                    img{
                        width: 33px;
                        height: 33px;
                    }
                }
            }
            &_subTitle{
                color: #4e6570;
                font-weight: bold;
                font-size: 16px;
                margin-top: 10px;
            }
        }
        &_playWithPC,
        &_playWithPlayer{
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            background-color: #f2b236;
            color: black;
            border-radius: 10px;
            box-shadow: 0px 5px 0px #d89720;
            font-size: 23px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 20px;
            transition: all 0.1s;
            &:hover{
                transform: scale(1.02);
                transition: all 0.1s;
            }
            &:active{
                transform: scale(0.98);
                transition: all 0.1s;
            }
        }
        &_playWithPlayer{
            background-color: #31c4bc;
            box-shadow: 0px 5px 0px #1b9d98;
        }
    }
    &__playField{
        &_fieldBlock{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            align-items: center;
            justify-content: center;
            button{
                width: 75%;

            }
        }
        &_resultBlock{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &_playerResult,
            &_ties,
            &_opponentResult{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 25%;
                height: auto;
                background-color: #31c4bc;
                padding: 5px;
                border-radius: 10px;
                p:nth-child(1){
                    color: black;
                    font-size: 16px;
                }
                p:nth-child(2){
                    color: black;
                    font-weight: bold;
                    font-size: 22px;
                }
            }
            &_ties{
                background-color: #a8bec9;
            }
            &_opponentResult{
                background-color: #f2b237;
            }
        }
    }
}

@media(max-width:450px){
    .game{
        &__menu{
            margin: 0px 5px;
        }
    }
}