* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.game {
  width: 100%;
  height: 100vh;
  background-color: #192a32;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__menu, .game__playField {
  width: 300px;
  height: 650px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game__menu_title, .game__playField_title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.game__menu_title img:nth-child(1), .game__playField_title img:nth-child(1) {
  width: 30px;
  height: 30px;
}
.game__menu_title img:nth-child(2), .game__playField_title img:nth-child(2) {
  width: 33px;
  height: 33px;
}
.game__menu_blockChoise, .game__playField_blockChoise {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e3640;
  box-shadow: 0px 5px 0px #0f2028;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game__menu_blockChoise_title, .game__playField_blockChoise_title {
  color: #8aa2ac;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.game__menu_blockChoise_blockForSelect, .game__playField_blockChoise_blockForSelect {
  width: 100%;
  padding: 10px 5px;
  height: auto;
  background-color: #1a2a35;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}
.game__menu_blockChoise_blockForSelect_XActive, .game__menu_blockChoise_blockForSelect_OActive, .game__playField_blockChoise_blockForSelect_XActive, .game__playField_blockChoise_blockForSelect_OActive {
  width: 48%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #a9bec9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__menu_blockChoise_blockForSelect_XInactive, .game__menu_blockChoise_blockForSelect_OInactive, .game__playField_blockChoise_blockForSelect_XInactive, .game__playField_blockChoise_blockForSelect_OInactive {
  width: 48%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__menu_blockChoise_blockForSelect_XInactive div, .game__menu_blockChoise_blockForSelect_OInactive div, .game__playField_blockChoise_blockForSelect_XInactive div, .game__playField_blockChoise_blockForSelect_OInactive div {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.game__menu_blockChoise_blockForSelect_XActive img, .game__menu_blockChoise_blockForSelect_XInactive img, .game__playField_blockChoise_blockForSelect_XActive img, .game__playField_blockChoise_blockForSelect_XInactive img {
  width: 30px;
  height: 30px;
}
.game__menu_blockChoise_blockForSelect_OActive img, .game__menu_blockChoise_blockForSelect_OInactive img, .game__playField_blockChoise_blockForSelect_OActive img, .game__playField_blockChoise_blockForSelect_OInactive img {
  width: 33px;
  height: 33px;
}
.game__menu_blockChoise_subTitle, .game__playField_blockChoise_subTitle {
  color: #4e6570;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.game__menu_playWithPC, .game__menu_playWithPlayer, .game__playField_playWithPC, .game__playField_playWithPlayer {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #f2b236;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 5px 0px #d89720;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.1s;
}
.game__menu_playWithPC:hover, .game__menu_playWithPlayer:hover, .game__playField_playWithPC:hover, .game__playField_playWithPlayer:hover {
  transform: scale(1.02);
  transition: all 0.1s;
}
.game__menu_playWithPC:active, .game__menu_playWithPlayer:active, .game__playField_playWithPC:active, .game__playField_playWithPlayer:active {
  transform: scale(0.98);
  transition: all 0.1s;
}
.game__menu_playWithPlayer, .game__playField_playWithPlayer {
  background-color: #31c4bc;
  box-shadow: 0px 5px 0px #1b9d98;
}
.game__menu_back, .game__playField_back {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: #58f5ed;
  box-shadow: 0px 3px 0px #31c4bc;
  font-weight: bold;
}
.game__menu_back:hover, .game__playField_back:hover {
  transform: scale(1.02);
  transition: all 0.1s;
}
.game__menu_back:active, .game__playField_back:active {
  transform: scale(0.98);
  transition: all 0.1s;
}
.game__playField_nameMode {
  font-weight: bold;
  font-size: 30px;
  color: #58f5ed;
  margin-bottom: 20px;
}
.game__playField_markIndicate {
  width: 270px;
  height: 50px;
  background-color: #1f343d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.game__playField_markIndicate p {
  font-size: 21px;
  font-weight: bold;
  color: #a5bdc5;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__playField_markIndicate p .stepCross {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}
.game__playField_markIndicate p .circleCross {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}
.game__playField_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.game__playField_nav_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.game__playField_nav_img img:nth-child(1) {
  width: 30px;
  height: 30px;
}
.game__playField_nav_img img:nth-child(2) {
  width: 33px;
  height: 33px;
}
.game__playField_nav_reset {
  width: 35px;
  height: 35px;
  background-color: #a8bfc9;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #6d8692;
  transition: all 0.1s;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__playField_nav_reset:hover {
  transition: all 0.1s;
  transform: scale(1.02);
}
.game__playField_nav_reset:active {
  transition: all 0.1s;
  transform: scale(0.98);
}
.game__playField_nav_reset img {
  width: 20px;
  height: 20px;
}
.game__playField_fieldBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
}
.game__playField_fieldBlock button {
  width: 100%;
  background-color: #1e3640;
  box-shadow: 0px 5px 0px #12222a;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding: 45px 0;
  cursor: pointer;
  transition: all 0.1s;
  position: relative;
}
.game__playField_fieldBlock button img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.game__playField_fieldBlock button:hover {
  transition: all 0.1s;
  transform: scale(1.02);
}
.game__playField_fieldBlock button:active {
  transition: all 0.1s;
  transform: scale(0.98);
}
.game__playField_resultBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.game__playField_resultBlock_playerResult, .game__playField_resultBlock_ties, .game__playField_resultBlock_opponentResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #31c4bc;
  padding: 5px;
  border-radius: 10px;
}
.game__playField_resultBlock_playerResult p:nth-child(1), .game__playField_resultBlock_ties p:nth-child(1), .game__playField_resultBlock_opponentResult p:nth-child(1) {
  color: black;
  font-size: 16px;
}
.game__playField_resultBlock_playerResult p:nth-child(2), .game__playField_resultBlock_ties p:nth-child(2), .game__playField_resultBlock_opponentResult p:nth-child(2) {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
.game__playField_resultBlock_ties {
  background-color: #a8bec9;
}
.game__playField_resultBlock_opponentResult {
  background-color: #f2b237;
}

@media (max-width: 450px) {
  .game__menu {
    margin: 0px 5px;
  }
}/*# sourceMappingURL=App.css.map */