*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.game{
    width: 100%;
    height: 100vh;
    background-color: #192a32;
    display: flex;
    align-items: center;
    justify-content: center;
    &__menu,
    &__playField{
        width: 300px;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_title{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            img:nth-child(1){
                width: 30px;
                height: 30px;
            }
            img:nth-child(2){
                width: 33px;
                height: 33px;
            }
        }
        &_blockChoise{
            width: 100%;
            height: auto;
            padding: 10px;
            border-radius: 10px;
            background-color: #1e3640;
            box-shadow: 0px 5px 0px #0f2028;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &_title{
                color: #8aa2ac;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
            }
            &_blockForSelect{
                width: 100%;
                padding: 10px 5px;
                height: auto;
                background-color: #1a2a35;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                gap: 10px;
                &_XActive,
                &_OActive{
                    width: 48%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #a9bec9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &_XInactive,
                &_OInactive{
                    width: 48%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        height: 30px;
                        width: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: none;
                    }
                }
                &_XActive,
                &_XInactive{
                    img{
                        width: 30px;
                        height: 30px;
                    }    
                }
                &_OActive,
                &_OInactive{
                    img{
                        width: 33px;
                        height: 33px;
                    }
                }
            }
            &_subTitle{
                color: #4e6570;
                font-weight: bold;
                font-size: 16px;
                margin-top: 10px;
            }
        }
        &_playWithPC,
        &_playWithPlayer{
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            background-color: #f2b236;
            color: black;
            border-radius: 10px;
            box-shadow: 0px 5px 0px #d89720;
            font-size: 23px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 20px;
            transition: all 0.1s;
            &:hover{
                transform: scale(1.02);
                transition: all 0.1s;
            }
            &:active{
                transform: scale(0.98);
                transition: all 0.1s;
            }
        }
        &_playWithPlayer{
            background-color: #31c4bc;
            box-shadow: 0px 5px 0px #1b9d98;
        }
        &_back{
            width: 100%;
            height: 50px;
            margin-top: 20px;
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
            background-color: #58f5ed;
            box-shadow: 0px 3px 0px #31c4bc;
            font-weight: bold;
            &:hover{
                transform: scale(1.02);
                transition: all 0.1s;
            }
            &:active{
                transform: scale(0.98);
                transition: all 0.1s;
            }
        }
    }
    &__playField{
        &_nameMode{
            font-weight: bold;
            font-size: 30px;
            color: #58f5ed;
            margin-bottom: 20px;
        }
        &_markIndicate{
            width: 270px;
            height: 50px;
            background-color: #1f343d;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            p{
                font-size: 21px;
                font-weight: bold;
                color: #a5bdc5;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                .stepCross{
                width: 25px;
                height: 25px;
                margin-left: 8px;
                }
                .circleCross{
                    width: 25px;
                    height: 25px;
                    margin-left: 8px;
                }
            }
        }
        &_nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
            &_img{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                img:nth-child(1){
                    width: 30px;
                    height: 30px;
                }
                img:nth-child(2){
                    width: 33px;
                    height: 33px;
                }
            }
            &_reset{
                width: 35px;
                height: 35px;
                background-color: #a8bfc9;
                border-radius: 5px;
                box-shadow: 0px 3px 0px #6d8692;
                transition: all 0.1s;
                cursor: pointer;
                outline: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    transition: all 0.1s;
                    transform: scale(1.02);
                }
                &:active{
                    transition: all 0.1s;
                    transform: scale(0.98);
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &_fieldBlock{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 0 15px;
            button{
                width: 100%;
                background-color: #1e3640;
                box-shadow: 0px 5px 0px #12222a;
                border-radius: 10px;
                border: none;
                outline: none;
                margin-bottom: 20px;
                padding: 45px 0;
                cursor: pointer;
                transition: all 0.1s;
                position: relative;
                img{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover{
                    transition: all 0.1s;
                    transform: scale(1.02);
                }
                &:active{
                    transition: all 0.1s;
                    transform: scale(0.98);
                }
            }
        }
        &_resultBlock{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &_playerResult,
            &_ties,
            &_opponentResult{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 30%;
                height: auto;
                background-color: #31c4bc;
                padding: 5px;
                border-radius: 10px;
                p:nth-child(1){
                    color: black;
                    font-size: 16px;
                }
                p:nth-child(2){
                    color: black;
                    font-weight: bold;
                    font-size: 22px;
                }
            }
            &_ties{
                background-color: #a8bec9;
            }
            &_opponentResult{
                background-color: #f2b237;
            }
        }
    }
}

.modal{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #374b549e;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    &__infoBlock{
        width: 100%;
        height: auto;
        background-color: #1e3640;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_title{
            color: #91a9b3;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }
        &_result{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #49b9b8;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
            img{
                width: 50px;
                height: 50px;
            }
        }
        &_navBlock{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            button:nth-child(1){
                border: none;
                outline: none;
                background-color: #a9bec9;
                height: auto;
                font-size: 18px;
                padding: 10px 15px;
                border-radius: 5px;
                box-shadow: 0px 3px 0px #657d87;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    transform: scale(1.02);
                    transition: all 0.1s;
                }
                &:active{
                    transform: scale(0.98);
                    transition: all 0.1s;
                }
            }
            button:nth-child(2){
                border: none;
                outline: none;
                background-color: #f0b23a;
                height: auto;
                font-size: 18px;
                padding: 10px 15px;
                border-radius: 5px;
                box-shadow: 0px 3px 0px #c6942e;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    transform: scale(1.02);
                    transition: all 0.1s;
                }
                &:active{
                    transform: scale(0.98);
                    transition: all 0.1s;
                }
            }
        }
    }
}

@media(max-width:450px){
    .game{
        &__menu{
            margin: 0px 5px;
        }
    }
}